.App{
    font-size: 24px;
}

.MyContainer{
    margin-top: 40px;
}

.MyTitle{
    font-size: 40px;
}

.MyTitleGreen{
    font-size: 40px;
    color: seagreen;
}

.MyFormControl{
    margin-top: 10px;
    margin-bottom: 10px;
}

.MyTableButton{
    margin-left: 10px;
    margin-right: 10px;
}